@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Poppins, sans-serif;
    background: #efe7e7;
    color: #222;
}

a {
    text-decoration: none;
}

.navbar {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
    background:white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .1);
    padding: 14px 0;
}

.container {
    width: 100%;
    padding: 0 40px;
    display: flex;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    gap: 12px;
    color: #F8FAFC;
    flex:1;
}

.logo-circle {
    width: 50px;
    height: 50px;
    background:#ff7700;
    color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 22px;
}

.logo h2 {
    color: black;
    font-size: 26px;
    font-weight: 700;
}

.desktop-nav {
    display: flex;
    flex:2;
    gap: 35px;
    align-items: center;
    justify-content: flex-end;
}

.desktop-nav a {
    color: black;
    font-weight: 600;
    transition: .25s;
}

.desktop-nav a:hover {
    transform: scale(1.08);
    color:#ff7700;
}

.collab-link {
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    color: white;
}

.dropdown {
    position: relative;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    width: 220px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, .1);
    padding: 10px 0;
    color: black;
    z-index: 2000;
}

.dropdown-menu a {
    display: block;
    padding: 12px 18px;
    color: #333;
    transition: .25s;
}

.dropdown-menu a:hover {
    color: #ff6600;
}

.desktop-nav .register-btn {
    background: #ff7700;
    color: white;
    padding: 10px 22px;
    border-radius: 6px;
    font-weight: 600;
    transition: background.25s;
}

.desktop-nav .register-btn:hover {
    background: #ff6600;
    color: white;
}
.menu-container{
    flex:0;
    display:flex;
    align-items:center;
    margin-left:25px;
    position:relative
}
.menu-btn {
    width: 46px;
    height: 46px;
    background: white;
    color: #FF6600;
    border: none;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
@media(max-width:992px) {

    .menu-btn {

        display: block;

    }
}

.auth-dropdown {
    position: absolute;
    top: 65px;
    right: 0;
    width: 220px;
    background: white;
    border-radius: 12px;
    box-shadow: 0 8px 25px rgba(0, 0, 0, .15);
    overflow: hidden;
}

.auth-dropdown a {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 14px 18px;
    color: #333;
}

.auth-dropdown a:hover {
    background: #FFF1E6;
    color: #FF6600;

}

@media(max-width:992px) {
    .desktop-nav {

        display: none;

    }

}

.mobile-drawer {
    position: fixed;
    top: 0;
    right: 0;
    width: 280px;
    height: 100%;
    background: white;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    z-index:9999;
}

.overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, .35);
    z-index: 9998;
}
.ticker {
    width: 100%;
    overflow: hidden;
    background: #111;
    color: white;
    padding: 12px 0;
    white-space: nowrap;
}

.ticker-content {
    display: inline-block;
    color:#d6c8bb;
    padding-left: 100%;
    animation: scroll 15s linear infinite;
}

@keyframes scroll {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}