.success-details{
    width:100%;
    padding:40px;
    display:flex;
    justify-content:center;
}

.success-banner{
    width:100%;
    max-width:1400px;
    border-radius:15px;
    object-fit:cover;
}