.trainer-page{
background:#fff;
padding:20px 20px;
}

.trainer-hero{
text-align:center;
margin-bottom:10px;
}

.trainer-tag{
display:inline-block;
padding:8px 18px;
background:#fff5eb;
color:#ff7700;
border-radius:30px;
font-size:.85rem;
font-weight:600;
letter-spacing:1.5px;
margin-bottom:10px;
}

.trainer-hero h1{
font-size:3rem;
font-weight:700;
color:#222;
margin-bottom:10px;
line-height:1.2;
}

.trainer-hero h1 span{
color:#ff7700;
}

.trainer-description{
max-width:720px;
margin:0 auto 40px;
font-size:1rem;
line-height:1.8;
color:#666;
}
/*
.trainer-search{
max-width:650px;
height:58px;
margin:0 auto;
display:flex;
align-items:center;
padding:0 18px;
background:#fff;
border:1px solid #e5e7eb;
border-radius:16px;
transition:.3s;
}

.trainer-search:hover{
border-color:#ff7700;
}

.trainer-search:focus-within{
border-color:#ff7700;
box-shadow:0 0 0 4px rgba(255,119,0,.12);
}

.trainer-search-icon{
font-size:1rem;
color:#888;
margin-right:12px;
}

.trainer-search input{
width:100%;
height:100%;
border:none;
outline:none;
background:transparent;
font-size:1rem;
font-family:inherit;
color:#222;
}

.trainer-search input::placeholder{
color:#999;
} */

.trainer-grid{
display:grid;
grid-template-columns:repeat(3,350px);
justify-content: center;
gap:25px;
padding:0 30px;
}

.trainer-card{
background:#fff;
border:1px solid #e5e7eb;
border-radius:20px;
overflow:hidden;
transition:.35s;
box-shadow:0 8px 24px rgba(0,0,0,.04);
}

.trainer-card:hover{
transform:translateY(-8px);
border-color:#ff7700;
box-shadow:0 18px 35px rgba(255,119,0,.1);
}

.trainer-image-wrapper{
position:relative;
overflow:hidden;
height:180px;
}

.trainer-image{
width:100%;
height:100%;
object-fit:contain;
transition:.5s;
}

.trainer-experience{
position:absolute;
top:18px;
right:18px;
background:#ff7700;
color:#fff;
padding:8px 14px;
font-size:.85rem;
font-weight:600;
border-radius:30px;
}

.trainer-content{
padding:16px;
}

.trainer-content h3{
font-size:1.1rem;
color:#222;
margin-bottom:8px;
}

.trainer-designation{
color:#666;
margin-bottom:12px;
line-height:1.6;
}

.trainer-course-list{
display:flex;
flex-wrap:wrap;
gap:6px;
margin-bottom:12px;
}

.trainer-course{
background:#fff5eb;
color:#ff7700;
padding:7px 14px;
border-radius:30px;
font-size:.85rem;
font-weight:500;
}

.trainer-skills{
display:flex;
flex-wrap:wrap;
gap:10px;
margin-bottom:20px;
}

.trainer-skill{
padding:7px 7px;
border-radius:30px;
border:1px solid #d3d2d2;
font-size:.85rem;
color:#555;
transition:.3s;
}

.trainer-profile-btn{
width:100%; 
height:40px;
border:none;
border-radius:12px;
background:#ff7700;
color:#fff;
font-size:0.85rem;
font-weight:600;
display:flex;
align-items:center;
justify-content:center;
gap:10px;
cursor:pointer;
transition:.3s;
}

.trainer-profile-btn:hover{
background:#e96d00;
}

.trainer-empty{
grid-column:1/-1;
text-align:center;
padding:80px 20px;
border:1px solid #e5e7eb;
border-radius:20px;
}

.trainer-empty h2{
font-size:2rem;
color:#222;
margin-bottom:12px;
}

.trainer-empty p{
color:#666;
line-height:1.8;
}
.trainer-pagination{
grid-column: 1/-1;
display:flex;
justify-content:center;
align-items:center;
gap:15px;
margin-top:10px;
}

.trainer-dot{
width:12px;
height:12px;
border-radius:50%;
background:#d9d9d9;
cursor:pointer;
transition:.3s;
}

.trainer-dot:hover{
background:#ffb266;
}

.trainer-dot.active{
width:34px;
border-radius:30px;
background:#ff7700;
}
.trainer-cta{
width:100%;
background:white;
text-align:center;
padding: 20px 20px;
}

.trainer-cta h2{
font-size:2.3rem;
color:#222;
margin-bottom:18px;
}

.trainer-cta h2 span{
color:#ff7700;
}

.trainer-cta p{
max-width:650px;
margin:0 auto 35px;
color:#666;
line-height:1.8;
}

.trainer-cta-buttons{
display:flex;
justify-content:center;
gap:18px;
flex-wrap:wrap;
}

.trainer-primary-btn,
.trainer-secondary-btn{
padding:14px 32px;
border-radius:12px;
font-size:1rem;
font-weight:600;
cursor:pointer;
transition:.3s;
}

.trainer-primary-btn{
background:#ff7700;
border:none;
color:#fff;
}

.trainer-primary-btn:hover{
background:#e96d00;
}

.trainer-secondary-btn{
background:#fff;
border:1px solid #e5e7eb;
color:#333;
}

.trainer-secondary-btn:hover{
border-color:#ff7700;
color:#ff7700;
}

@media(max-width:992px){

.trainer-grid{
grid-template-columns:repeat(2,1fr);
}

}

@media(max-width:768px){

.trainer-page{
padding:90px 15px 60px;
}

.trainer-hero h1{
font-size:2.2rem;
}

.trainer-grid{
grid-template-columns:1fr;
}

.trainer-image-wrapper{
height:250px;
}

.trainer-cta{
padding:45px 20px;
}

.trainer-cta h2{
font-size:2rem;
}

}

@media(max-width:480px){

.trainer-hero h1{
font-size:1.8rem;
}

.trainer-description{
font-size:.92rem;
}

.trainer-search{
height:52px;
}

.trainer-content{
padding:20px;
}

.trainer-image-wrapper{
height:220px;
}

.trainer-cta h2{
font-size:1.7rem;
}

.trainer-primary-btn,
.trainer-secondary-btn{
width:100%;
}

}